* {
    box-sizing: border-box;
    background-color: rgb(244, 244, 244);
    color: #333;
    font-size: 10px;
  }

  .App {
    margin: 0;
    padding: 0;
  }

  .container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 40px;
  }

  .title {
    color: #fff;
    font-size: 50px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  .form {
      display: flex;
      flex-direction: column;
      padding: 10px 0px;
  }

  .input {
    font-size: 15;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;

  }
  
  .imgList {
    column-count: 3;
  }

.card {
    margin-bottom: 10px;
    display: flex;
}

.cardImage {
    flex: 100%;
}